.Room{
  /* display: flex; */
  background-color: grey;
  height: 500px;
  /* width: 100%;
  padding: 10%;
  text-align: left; */
}
.ON{
  background-color: yellow;
}
.OFF{
  background-color: grey;
}